body {
  background-color: #A3A6B1;
  position: relative;

}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

section {
  position: relative;
  height: 100vh;
  border-top: solid 1px #ccc;
}

section h2 {
  font-size: 30px;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 54px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
